*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
::selection{
  /* background-color: rgb(255, 105, 0); */
  background-color: gold;
  /* color: rgb(0, 0, 0);  */
  color: rgb(105, 0, 0); 
} 
/* width */
::-webkit-scrollbar { 
  width: 8px;  
}
 
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 15px #ffdbac; 
  border-radius: 10px;
} 
 
/* Handle */ 
::-webkit-scrollbar-thumb {
  /* background: rgba(86, 86, 86, 0.8);  */
  background: rgba(255, 105, 0,1); 
  border-radius: 10px;
} 

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: rgba(56, 56, 56, 0.8);  */
  background: rgb(212, 89, 0);   
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
